@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Medium.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Book.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf);
  font-weight: 900;
}
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "ExpoArabic", sans-serif;
  scroll-behavior: smooth;
}
*::-moz-selection {
  background-color: #AF1E2C;
  color: #fff;
}
*::selection {
  background-color: #AF1E2C;
  color: #fff;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #ccc;
}
*::-webkit-scrollbar-thumb {
  background: #AF1E2C;
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #AF1E2C;
}

.overflowNone {
  overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: #AF1E2C;
  opacity: 0.5;
  transition: all 0.5s linear;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #AF1E2C;
  opacity: 1;
}

.overflowNone {
  overflow: hidden;
}

@-webkit-keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes bounce-in-top {
  0% {
    transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes bounce-in-left {
  0% {
    transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-left {
  0% {
    transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes pulsecust {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes pulsecust {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes pulse-shadow {
  100% {
    box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}
@keyframes pulse-shadow {
  100% {
    box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}
@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
/*dropdown animation*/
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes wave {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@keyframes wave {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@-webkit-keyframes niceAnimate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes niceAnimate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes translation {
  0% {
    transform: translateZ(0%);
  }
  100% {
    transform: translateZ(10%);
  }
}
@keyframes translation {
  0% {
    transform: translateZ(0%);
  }
  100% {
    transform: translateZ(10%);
  }
}
@-webkit-keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}
@-webkit-keyframes translateX {
  0%, 100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@keyframes translateX {
  0%, 100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@-webkit-keyframes translateY {
  0%, 100% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
}
@keyframes translateY {
  0%, 100% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
}
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@-webkit-keyframes shadow {
  0% {
    box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@keyframes shadow {
  0% {
    box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@-webkit-keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}
@keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}
@keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}
@-webkit-keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}
@keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}
@-webkit-keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
:root {
  --primary-color: #AF1E2C;
  --secondary-color: #4A4E50;
  --dark-color: #000;
  --light-color: #fff;
  --primary-filter: invert(18%) sepia(47%) saturate(3655%) hue-rotate(335deg) brightness(102%) contrast(101%);
  --secondary-filter: invert(27%) sepia(1%) saturate(2499%) hue-rotate(155deg) brightness(88%) contrast(75%);
  --light-filter: invert(97%) sepia(100%) saturate(0%) hue-rotate(338deg) brightness(104%) contrast(106%);
}

.button-contain {
  display: flex;
  align-items: center;
  align-content: center;
}
.button-contain .custom-btn {
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  z-index: 9;
  border: 1px solid var(--primary-color) !important;
}
.button-contain .custom-btn:first-child {
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
}
.button-contain .custom-btn::after, .button-contain .custom-btn::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  z-index: -1;
  background-color: var(--primary-color);
  transition: all 0.3s linear;
}
.button-contain .custom-btn::after {
  left: 0;
}
.button-contain .custom-btn::before {
  right: 0;
}
.button-contain .custom-btn img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.button-contain .custom-btn span {
  font-size: 18px;
  font-weight: 700;
}
.button-contain .custom-btn.border-btn span {
  color: var(--primary-color);
}
.button-contain .custom-btn.border-btn img {
  filter: var(--primary-filter);
}
.button-contain .custom-btn.border-btn::after, .button-contain .custom-btn.border-btn::before {
  width: 0px;
}
.button-contain .custom-btn.border-btn:hover::after, .button-contain .custom-btn.border-btn:hover::before {
  width: 50%;
}
.button-contain .custom-btn.border-btn:hover span {
  color: var(--light-color);
}
.button-contain .custom-btn.border-btn:hover img {
  filter: var(--light-filter);
}
.button-contain .custom-btn.bk-btn::after, .button-contain .custom-btn.bk-btn::before {
  width: 50%;
}
.button-contain .custom-btn.bk-btn img {
  filter: var(--light-filter);
}
.button-contain .custom-btn.bk-btn span {
  color: var(--light-color);
}
.button-contain .custom-btn.bk-btn:hover::After, .button-contain .custom-btn.bk-btn:hover::Before {
  width: 0px;
}
.button-contain .custom-btn.bk-btn:hover span {
  color: var(--primary-color);
}
.button-contain .custom-btn.bk-btn:hover img {
  filter: var(--primary-filter);
}
.button-contain .custom-btn:hover img {
  -webkit-animation: tada 0.6s linear both;
          animation: tada 0.6s linear both;
}

.navbar {
  width: 100%;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--light-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.navbar.scrolled .brand-name img {
  height: 60px !important;
}
.navbar .contain {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.navbar .contain .hamburger {
  display: none;
}
.navbar .contain .hamburger .line {
  width: 30px;
  height: 3px;
  background: linear-gradient(90deg, #AF1E2C, #4A4E50);
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}
.navbar .contain .hamburger.active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}
.navbar .contain .hamburger.active .line:nth-child(2) {
  width: 0px;
}
.navbar .contain .hamburger.active .line:nth-child(1), .navbar .contain .hamburger.active .line:nth-child(3) {
  transition-delay: 0.3s;
}
.navbar .contain .hamburger.active .line:nth-child(1) {
  transform: translateY(6.5px);
}
.navbar .contain .hamburger.active .line:nth-child(3) {
  transform: translateY(-15px) rotate(90deg);
}
.navbar .contain .brand-name img {
  width: 150px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.3s linear;
}
.navbar .contain .navbar-nav {
  flex-direction: row;
}
.navbar .contain .navbar-nav .nav-item {
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
}
.navbar .contain .navbar-nav .nav-item:last-child {
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}
.navbar .contain .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: 700;
  color: var(--dark-color);
}
.navbar .contain .navbar-nav .nav-item .nav-link:hover, .navbar .contain .navbar-nav .nav-item .nav-link.active {
  color: var(--primary-color);
}

header {
  width: 100%;
  padding: 250px 0px 150px 0px;
  height: 100vh;
  background: url("../images/intro.jpg") center/cover no-repeat;
  position: relative;
  z-index: 9;
}
header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  z-index: -1;
}
header .contain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
header .contain h1 {
  font-size: 35px;
  font-weight: 900;
  color: var(--primary-color);
  margin-bottom: 30px;
}
header .contain h1 span {
  display: block;
  margin-top: 15px;
  color: var(--primary-color);
  font-weight: 900;
  font-size: 35px;
}
header .arrow-btn {
  width: 50px;
  height: 50px;
  border: 1px solid var(--light-color);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  bottom: 50px;
  left: calc(50% - 25px);
  z-index: 99;
}
header .arrow-btn img {
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-animation: translateY 1s linear infinite;
          animation: translateY 1s linear infinite;
  filter: var(--light-filter);
}

.about-us {
  width: 100%;
  position: relative;
  padding: 80px 0px;
  z-index: 9;
  overflow: hidden;
}
.about-us::after, .about-us::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
.about-us::after {
  background: url("../images/about.jpg") center/cover no-repeat;
  z-index: -2;
}
.about-us::before {
  background-color: rgba(175, 30, 44, 0.7);
  z-index: -1;
}
.about-us .contain {
  width: 100%;
}
.about-us .contain h1 {
  font-size: 30px;
  font-weight: 900;
  color: var(--primary-color);
  margin: 0px;
}
.about-us .contain p {
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 500;
  margin: 25px 0px;
}

.features {
  width: 100%;
  padding: 60px 0px;
}
.features .box {
  width: 100%;
  padding: 30px 20px;
  position: relative;
  z-index: 9;
}
.features .box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(175, 30, 44, 0.06);
  border-radius: 40px;
  transition: all 0.3s linear;
}
.features .box .image-content {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  transition: all 0.3s linear;
}
.features .box .image-content img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.features .box h1 {
  font-size: 20px;
  font-weight: 900;
  margin: 20px 0px;
  color: var(--dark-color);
}
.features .box p {
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}
.features .box:hover::after {
  height: 100%;
}
.features .box:hover .image-content {
  transform: translateY(-10px);
}

.services {
  width: 100%;
  padding: 0px 0px 40px;
}
.services .heading {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}
.services .heading h1 {
  font-size: 40px;
  font-weight: 900;
  color: var(--primary-color);
  margin-bottom: 20px;
}
.services .heading p {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
}
.services .box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s linear;
}
.services .box .service-img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.services .box h1 {
  font-size: 18px;
  font-weight: 700;
  color: var(--dark-color);
  margin: 20px 0px;
}
.services .box .button-contain {
  width: 100%;
}
.services .box .button-contain .custom-btn {
  -webkit-margin-end: 0px !important;
          margin-inline-end: 0px !important;
  width: 100% !important;
}
.services .box:hover {
  transform: translateY(-10px);
}

.projects {
  width: 100%;
  padding-bottom: 30px;
}
.projects .box {
  width: 100%;
  background-color: var(--light-color);
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(175, 30, 44, 0.1);
  padding: 20px 15px 4px;
  margin-bottom: 30px;
}
.projects .box .image-content {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}
.projects .box .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .box .contain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projects .box .contain h1 {
  font-size: 20px;
  font-weight: 900;
  color: var(--primary-color);
  margin: 0px;
}
.projects .box .contain p {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0px;
}
.projects .box .contain ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.projects .box .contain ul li {
  -webkit-padding-start: 30px;
          padding-inline-start: 30px;
  position: relative;
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
  z-index: 9;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}
.projects .box .contain ul li:last-child {
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}
.projects .box .contain ul li::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/check.svg") center/contain no-repeat;
  top: 0;
  left: 0;
  z-index: -1;
  filter: var(--primary-filter);
}

.partners {
  width: 100%;
  padding-bottom: 30px;
}
.partners .item img {
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.partners .heading {
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}
.partners .heading h1 {
  color: #AF1E2C;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 30px;
}
.partners .heading p {
  color: #1b1b1b;
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}

.contact-us {
  width: 100%;
  padding: 50px 0px;
  position: relative;
  z-index: 99;
}
.contact-us::after {
  content: "";
  position: absolute;
  width: 55%;
  height: 100%;
  background-color: rgba(175, 30, 44, 0.05);
  top: 0;
  left: 0;
  z-index: -1;
}
.contact-us .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-us .content .heading {
  width: 100%;
  margin-bottom: 40px;
}
.contact-us .content .heading h1 {
  color: #AF1E2C;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 30px;
}
.contact-us .content .heading p {
  color: #1b1b1b;
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}
.contact-us .content .box {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  transition: all 0.3s linear;
  margin-bottom: 25px;
}
.contact-us .content .box:last-child {
  margin: 0px;
}
.contact-us .content .box .image-content {
  width: 40px;
  height: 40px;
  background-color: rgba(175, 30, 44, 0);
  border-radius: 50%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.contact-us .content .box .image-content img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}
.contact-us .content .box .contain {
  width: calc(100% - 60px);
}
.contact-us .content .box .contain .title {
  font-size: 15px;
  font-weight: 500;
  color: #959595;
  margin-bottom: 15px;
  display: block;
}
.contact-us .content .box .contain p {
  color: #000;
  font-size: 15px;
  font-weight: 900;
  margin: 0px;
}
.contact-us .content .box:hover {
  transform: translateY(-10px);
}
.contact-us .map-contain {
  width: 100%;
  height: 450px;
}
.contact-us .map-contain iframe {
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  padding: 70px 0px 10px 0px;
  background-color: #192442;
}
footer .content {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
footer .content .brand-name img {
  width: 200px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .content p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  font-weight: 500;
  margin: 20px 0px;
}
footer .content .socail-media {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
footer .content .socail-media li {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
footer .content .socail-media li a {
  width: 50px;
  height: 50px;
  background-color: #AF1E2C;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
  align-content: center;
  align-items: center;
  justify-content: center;
}
footer .content .socail-media li a img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .content .socail-media li a:hover img {
  -webkit-animation: fadeInLeft 0.4s linear both;
          animation: fadeInLeft 0.4s linear both;
}

.copyrights {
  width: 100%;
  padding: 10px 0px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 20px;
}
.copyrights p {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}

@media (max-width: 999px) {
  .navbar .hamburger {
    display: block !important;
  }
  .navbar .brand-name img {
    width: 86px !important;
  }
  .navbar .button-contain {
    display: none;
  }
  .navbar .navbar-nav {
    width: 100%;
    height: 100vh;
    position: absolute;
    padding: 20px 15px;
    background-color: #fff;
    z-index: 99;
    top: 100px;
    left: -100%;
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    transition: all 0.3s linear;
  }
  .navbar .navbar-nav.active-nav {
    left: 0px;
  }
  .navbar .navbar-nav li {
    width: 100%;
    margin: 0px !important;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(175, 30, 44, 0.3);
  }
  .navbar .navbar-nav li:last-child {
    border-bottom: 0px !important;
  }
  .navbar .navbar-nav li a {
    width: 100%;
  }
  .navbar .brand-name img {
    -o-object-position: left !important;
       object-position: left !important;
  }
  .navbar.scrolled .navbar-nav {
    top: 80px;
    height: 100vh;
  }
  header h1 {
    font-size: 27px !important;
  }
  header h1 span {
    font-size: 25px !important;
  }
  header .button-contain {
    flex-direction: column;
  }
  header .button-contain .custom-btn:first-child {
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
    margin-bottom: 20px;
  }
  .order-mobile-0 {
    order: 0 !important;
  }
  .order-mobile-1 {
    order: 1 !important;
  }
  .services .box h1 {
    font-size: 16px !important;
  }
  .services .box .custom-btn img {
    width: 20px;
    height: 20px;
  }
  .services .box .custom-btn span {
    font-size: 15px;
  }
  .about-us::after, .about-us::before {
    width: 100%;
  }
  .about-us h1, .about-us p {
    color: var(--light-color) !important;
  }
  .about-us .custom-btn {
    outline-color: var(--light-color) !important;
  }
  .about-us .custom-btn::after, .about-us .custom-btn::before {
    background-color: var(--light-color);
  }
  .about-us .custom-btn.border-btn img {
    filter: var(--light-filter);
  }
  .about-us .custom-btn.border-btn span {
    color: var(--light-color);
  }
  .about-us .custom-btn.border-btn:hover img {
    filter: var(--primary-filter);
  }
  .about-us .custom-btn.border-btn:hover span {
    color: var(--primary-color);
  }
  .about-us .custom-btn.bk-btn img {
    filter: var(--primary-filter);
  }
  .about-us .custom-btn.bk-btn span {
    color: var(--primary-color);
  }
  .about-us .custom-btn.bk-btn:hover img {
    filter: var(--light-filter);
  }
  .about-us .custom-btn.bk-btn:hover span {
    color: var(--light-color);
  }
  .features {
    padding: 30px 0px;
  }
  .contact-us::after {
    width: 100% !important;
    height: 48%;
    bottom: 0px !important;
    top: unset !important;
  }
  .contact-us .content .box:last-child {
    margin-bottom: 50px !important;
  }
  .partners {
    padding-bottom: 0px;
  }
  .partners .heading {
    margin-bottom: 30px;
  }
  .partners .owl-partners img {
    height: 200px !important;
  }
}/*# sourceMappingURL=style.css.map */